{% include 'store/base.html' %}

{% load static %}

{% block content %}

<style>
    body{
        background-color: grey;
    }
</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <div class="text-center">

            <i class="fa-solid fa-check fa-4x"></i>

            <br> <br>

            <h5><strong>The account is now active!</strong></h5>

        <hr>
    
        <p>please proceed to login.</p>

        </div>
    
    </div>

</body>


{% endblock %}