{% include 'store/base.html' %}

{% load static %}

{% block content %}

<style>
    body{
        background-color: grey;
    }
    li{
        list-style: none;
    }
</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Password reset complete</h3>
        <hr>
        <p>Your password has been sent. You may proceed to login.</p>
        <br>
        <a class="btn btn-primary navbar-btn text-white w-100 p-2" href="{% url 'my-login' %}">Login &nbsp;<i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
</body>

{% endblock %}