{% include 'store/base.html' %}

{% load static %}

{% block content %}

<style>
    body{
        background-color: grey;
    }
    li{
        list-style: none;
    }
</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Welcome, {{user}}!</h3>
        <hr>
        <p>This is your dashboard where you can perform any of the following:</p>
        <li><i class="fa fa-truck" aria-hidden="true"></i> &nbsp; Track your orders</li> <br>
        <li><i class="fa fa-user" aria-hidden="true"></i> &nbsp; &nbsp; Manage your account</li>
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Track your orders</h3>
        <hr>
        <p>Track all of your orders here.</p>
        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'user-logout' %}">My orders</a>
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Manage your account</h3>
        <hr>
        <p>Update or delete your account.</p>
        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'profile-management' %}">Profile management</a>
        <br> <br>
        <a class="btn btn-danger navbar-btn text-white" type="button" href="{% url 'delete-account' %}">Delete your account</a>
    </div>
    <br> <br>
</body>

{% endblock %}